{% extends "master.html" %}

{% block title %}
    Food
{% endblock %}

{% block main %}
    <div class="mycard">
        <h1>Food</h1>
        <p>A list of some food</p>
        <ul>
            {% for x in food %}
                <li onclick="window.location = 'details/{{ x.id }}'"
                    {% if 'i' in x.foodName %} 
                        style='background-color: lightblue;'
                    {% endif %}>
                    {{ x.foodName }} - {{ x.foodCategory }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}