{% extends "master.html" %}

{% block title %}
    Ambrosia - Optimizing Your Nutrition
{% endblock %}

{% block main %}
    <div class="d-flex row align-self-md-center justify-content-md-between h-75">
        <div class="d-flex flex-column col-md-4 text-md-start text-center">
            <div>
                <h1>Eat What You <strong class="text-warning">Need</strong>, Not What You Get</h1>
                <p>Our nutrition matcher will help you find the best food for your needs. Just enter your information and we will provide you with the best food for you.</p>
            </div>
            <div class="py-4">
                <button type="button" class="btn btn-warning py-2 px-4 rounded-pill align-self-md-start align-self-center" data-bs-toggle="modal" data-bs-target="#targetForm">
                    Get Started
                </button>
  
                <div class="modal fade" id="targetForm">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Set Your Nutrition Focus!</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="d-flex flex-column modal-body">
                                <form id="nutrient_form" action="/nutrition_matcher/" method="post">
                                    {% csrf_token %}
                                    <select name="nutrient_target" multiple class="form-select" style="height: 20rem;">
                                        {% for nutrient in nutrients %}
                                            <option value="{{nutrient.id}}">
                                                {{ nutrient.description }} [{{ nutrient.unit }}]
                                            </option>
                                        {% endfor %}
                                    </select>

                                    <!--
                                    <div id="accordion">
                    
                                        <div class="card my-1">
                                            <div class="card-header collapsed btn" data-bs-toggle="collapse" href="#collapseOne">
                                                Calorie Target
                                            </div>
                                            <div id="collapseOne" class="collapse" data-bs-parent="#accordion">
												<div class="card-body d-flex flex-column">
													<div class="d-flex row py-3 justify-content-center">
                                                        <div class="d-flex flex-column col-4">
    														<div class="btn-group-vertical">
	    														<button type="button" class="btn btn-light border">Male</button>
		    													<button type="button" class="btn btn-light border">Female</button>
			    												<button type="button" class="btn btn-light border">Other</button>
				    										</div>
                                                        </div>
					    								<div class="d-flex flex-column col-6 align-self-center">
						    								<div class="py-1">
							    								<input class="form-control" type="number" name="age" placeholder="Age">
								    						</div>
									    					<div class="input-group py-1">
										    					<input class="form-control" type="number" name="height" placeholder="Height">
											    				<span class="input-group-text">cm</span>
															</div>
														</div>
													</div>
													<div class="d-flex row py-3">
                                                        <div class="d-flex flex-column"> 
                                                            <h6>Activity Level</h6>                                                      
    														<div class="btn-group">
	    														<button type="button" class="btn btn-light border col-3" value="1">Low</button>
  		    													<button type="button" class="btn btn-light border col-3" value="1">Average</button>
  			    												<button type="button" class="btn btn-light border col-3" value="1">Moderate</button>
				    											<button type="button" class="btn btn-light border col-3" value="1">Sporty</button>
					    									</div>
                                                        </div>
													</div>
													<hr>
													<div class="d-flex row justify-content-center">
														<div class="d-flex flex-column col-6">
															<div class="input-group">
																<input class="form-control" type="number" name="kcalInput" min="0" max="5000" step="50" value="0" oninput="this.form.kcalSlider.value=this.value"/>
																<span class="input-group-text">kcal</span>
															</div>
															<input class="" type="range" name="kcalSlider" min="0" max="5000" step="50" value="0" oninput="this.form.kcalInput.value=this.value"/>
                    	                        		</div>
													</div>	
												</div>	
                                            </div>
                                        </div>
                                      
                                        <div class="card my-1">
                                            <div class="card-header collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                                                Macro Nutrient Target
                                            </div>
                                            <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                                                <div class="card-body">
                                                    Lorem ipsum..
                                                </div>
                                            </div>
                                        </div>
                                      
                                        <div class="card my-1">
                                            <div class="card-header collapsed btn" data-bs-toggle="collapse" href="#collapseThree">
                                                Micro Nutrient Target
                                            </div>
                                            <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                                                <div class="card-body">
                                                    Lorem ipsum..
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    -->

                                    <button type="submit" class="btn btn-primary px-3 rounded-pill mt-3">Find Match</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column col-md-7">
            <div id="results" class=""></div>
        </div>
    </div>

    <!-- Modal für Details -->
<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="detailsModalLabel">Food Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Hier werden die Detailinformationen geladen -->
          <div id="detailsContent"></div>
        </div>
      </div>
    </div>
  </div>

    <script>
        var form = document.getElementById("nutrient_form");
        form.addEventListener("submit", function(event) {
            event.preventDefault();
            var formData = new FormData(form);
            fetch("/nutrition_matcher/", {
                method: "POST",
                body: formData,
                headers: {
                    "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken]").value
                }
            })
            .then(response => response.text())
            .then(data => {
                document.getElementById("results").innerHTML = data;
            })
            .catch(error => {
                console.error("Error:", error);
            });
        });
    </script>

{% endblock %}
