{% extends "master.html" %}

{% block title %}
    Ambrosia - Optimizing your nutrition
{% endblock %}

{% block main %}
    <div class="d-flex row align-items-md-center h-50">
        <div class="d-flex flex-column col-md-4 text-md-start text-center px-md-0 px-5">
            <div>
                <h1>Eat What You <strong class="text-warning">Need</strong>, Not What You Get</h1>
                <p>Our nutrition matcher will help you find the best food for your needs. Just enter your information and we will provide you with the best food for you.</p>
            </div>
            <div class="py-4">
                <button type="button" class="btn btn-warning py-2 px-4 rounded-pill align-self-md-start align-self-center" data-bs-toggle="modal" data-bs-target="#goalsForm">
                    Get Started
                </button>
  
                <div class="modal fade" id="goalsForm">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Set at least one Nutrition goal!</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <form action="/nutrition_matcher/results" method="post">

                                    <div id="accordion">

                                        <div class="card my-1">
                                          <div class="card-header collapsed btn" data-bs-toggle="collapse" href="#collapseOne">
                                              Calorie Target
                                          </div>
                                          <div id="collapseOne" class="collapse" data-bs-parent="#accordion">
                                            <div class="card-body">
                                              Lorem ipsum..
                                            </div>
                                          </div>
                                        </div>
                                      
                                        <div class="card my-1">
                                          <div class="card-header collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                                              Macro Nutrient Target
                                          </div>
                                          <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                                            <div class="card-body">
                                              Lorem ipsum..
                                            </div>
                                          </div>
                                        </div>
                                      
                                        <div class="card my-1">
                                          <div class="card-header collapsed btn" data-bs-toggle="collapse" href="#collapseThree">
                                              Micro Nutrient Target
                                          </div>
                                          <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                                            <div class="card-body">
                                              Lorem ipsum..
                                            </div>
                                          </div>
                                        </div>
                                      
                                      </div>
                                    <button type="submit" class="btn btn-primary px-3 rounded-pill mt-3">Find Match</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}