<!-- label.html -->
{% if selected_foodspecs %}
<table class="table">
    <thead>
        <tr>
            <th>Nutrient</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody class="border-5 border-secondary border-start-0 border-end-0">
        <tr class="border-5 border-secondary border-start-0 border-end-0" value="1008">
            <td>
                <strong class="h3">Calories</strong>
            </td>
            <td>
                <div id="demo"></div>
            </td>
        </tr>
        <tr class="">
            <td>
                <strong>Total Fat</strong>
            </td>
            <td>
                <!---->
            </td>
            <td>
                <!---->
            </td>
        </tr>
        <tr>
            <td>
                <div class="ms-3">Saturated Fat</div>
            </td>
            <td>
                <!---->
            </td>
            <td>
                <!---->
            </td>
        </tr>
        <tr>
            <td>
                <div class="ms-3">Unsaturated Fat</div>
            </td>
            <td>
                <!---->
            </td>
            <td>
                <!---->
            </td>
        </tr>
        <tr>
            <td>
                <div class="ms-3">Trans Fat</div>
            </td>
            <td>
                <!---->
            </td>
            <td>
                <!---->
            </td>
        </tr>
        <tr>
            <td>
                <strong>Cholesterol</strong>
            </td>
            <td>
                <!---->
            </td>
            <td>
                <!---->
            </td>
        </tr>
        <tr>
            <td>
                <strong>Sodium</strong>
            </td>
            <td>
                <!---->
            </td>
            <td>
                <!---->
            </td>
        </tr>
        <tr>
            <td>
                <strong>Total Carbohydrate</strong>
            </td>
            <td>
                <!---->
            </td>
            <td>
                <!---->
            </td>
        </tr>
        <tr>
            <td>
                <div class="ms-3">Dietary Fiber</div>
            </td>
            <td>
                <!---->
            </td>
            <td>
                <!---->
            </td>
        </tr>
        <tr>
            <td>
                <div class="ms-3">Total Sugars</div>
            </td>
            <td>
                <!---->
            </td>
            <td>
                <!---->
            </td>
        </tr>
        <tr>
            <td>
                <strong>Protein</strong>
            </td>
            <td>
                <!---->
            </td>
            <td>
                <!---->
            </td>
        </tr>
    </tbody>
    <tbody class="border-5 border-secondary border-start-0 border-end-0">
        <tr>
            <td>
                <strong class="h3">Vitamins</strong>
            </td>
            <td>
                <!---->
            </td>
            <td>
                <!---->
            </td>
        </tr>
        {% for food in foods %}
        
        {% endfor %}
    </tbody>
    <tbody class="border-5 border-secondary border-start-0 border-end-0">
        <tr>
            <td>
                <strong class="h3">Minerals</strong>
            </td>
            <td>
                <!---->
            </td>
            <td>
                <!---->
            </td>
        </tr>
        {% for food in foods %}
        
        {% endfor %}
    </tbody>
    <tbody class="border-5 border-secondary border-start-0 border-end-0">
        <tr>
            <td>
                <strong class="h3">Fatty Acids</strong>
            </td>
            <td>
                <!---->
            </td>
            <td>
                <!---->
            </td>
        </tr>
        {% for food in foods %}
        
        {% endfor %}
    </tbody>
    <tbody class="border-5 border-secondary border-start-0 border-end-0">
        <tr>
            <td>
                <strong class="h3">Sugars</strong>
            </td>
            <td>
                <!---->
            </td>
            <td>
                <!---->
            </td>
        </tr>
        {% for food in foods %}
        
        {% endfor %}
    </tbody>
    <tbody class="border-5 border-secondary border-start-0 border-end-0">
        <tr>
            <td>
                <strong class="h3">Amino Acids</strong>
            </td>
            <td>
                <!---->
            </td>
            <td>
                <!---->
            </td>
        </tr>
        {% for food in foods %}
        
        {% endfor %}
    </tbody>
</table>
{% else %}
    <p>No data found for this food.</p>
{% endif %}