<!-- matched.html -->
{% if matched_food %}
    <h2>Matching Foods</h2>
    <div class="">
            {% for food in matched_food %}

                <button type="button" class="btn btn-primary rounded-pill mx-1 my-1" onclick="var selected = document.getElementById('selected_food'); selected.value = '{{ food.id }}'; selected.innerText = '{{ food.description }}'">
                    {{ food.description }}
                </button>

            {% endfor %}
    </div>
{% else %}
    <p>No matching foods found.</p>
{% endif %}